{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="text-center">
    <img width="100" src="{% static 'img/favicon.png' %}" alt="唐辛子のキャラクター">
</div>

<div class="header page-title my-4">
    <h2>ログイン</h2>
</div>

<div class="card p-3 mx-auto">
    <div class="login-form mx-auto">
        <form action="" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label class="form-label" for="{{ form.username.id_for_label }}">Emailアドレス</label>
                {{ form.username }}
                {% comment %} <input class="form-control" type="text" id="email" name="email"> {% endcomment %}
            </div>
            <div class="mb-3">
                <label class="form-label" for="{{ form.password.id_for_label }}">パスワード</label>
                {{ form.password }}
                {% comment %} <input class="form-control" type="password" id="pwd" name="pwd"> {% endcomment %}
            </div>
            {% comment %} 入力内容が正しくなかった時に表示 {% endcomment %}
            <div class="text-danger">   
                {% for error in form.non_field_errors %}
                <p>{{error}}</p>
                {% endfor %}
            </div> 
            <div class="my-4 d-flex justify-content-between">
                <a href="{% url 'signup' %}">新規登録へ</a>
                <button type="submit" class="btn btn-success">ログイン</button>
            </div>
        </form>
    </div>
</div>
{% endblock content%}