{% extends "base.html" %}

{% block content %}

<div class="header page-title my-4">
    <h2>新規登録</h2>
</div>
<div class="card p-3 mx-auto">
    <div class="signup-form mx-auto">
        <form class="signup-form mx-auto" action="" method="post">
            {% csrf_token %}
            {% comment %} 
            しほ：ここからバリーデーションエラー
            サインアップはログインとは違いDjango標準のバリデーションエラーを使用する
            ログインはDBとの照合などが必要になるがサインアップはDBとの照合が必要ないので入力チェックだけを行えれば十分。
            なのでform.pyやviews.pyにロジックを書く必要がない
            {% endcomment %}
            {% comment %} 各フィールドのエラー {% endcomment %}
            {% if form.errors %}
                <ul class="text-danger">
                    {% for field in form %}
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                    {% comment %} フォーム全体のエラー {% endcomment %}
                    {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <div class="mb-3">
                <label class="form-label" for="{{ form.user_name.id_for_label }}">ユーザー名</label>
                {{ form.user_name }}
            </div>
            <div class="mb-3">
                <label class="form-label" for="{{ form.email.id_for_label }}">Emailアドレス</label>
                {{ form.email }}
            </div>
            <div class="mb-3">
                <label class="form-label" for="{{ form.password1.id_for_label }}">パスワード</label>
                <div class="input-group">
                    {{ form.password1 }}
                    <button type="button" class="btn btn-outline-secondary" data-toggle-password="#password1">
                        <i class="bi bi-eye-slash"></i>
                    </button>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="{{ form.password2.id_for_label }}">パスワード（確認用）</label>
                <div class="input-group">
                    {{ form.password2 }}
                    <button type="button" class="btn btn-outline-secondary" data-toggle-password="#password2">
                        <i class="bi bi-eye-slash"></i>
                    </button>

                </div>
            </div>
            <div class="my-4 d-flex justify-content-between">
                <a href="{% url 'login' %}">ログインへ</a>
                <button type="submit" class="btn btn-primary">登録</button>
            </div>
        </form>
    </div>
</div>

{% endblock content %}