{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="header page-title my-4">
    <h2>新規登録</h2>
</div>
<div class="card p-3 mx-auto">
    <div class="signup-form mx-auto">
        <form class="signup-form mx-auto" action="" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label class="form-label" for="{{ form.user_name.id_for_label }}">ユーザー名</label>
                {{ form.user_name }}
            </div>
            <div class="mb-3">
                <label class="form-label" for="{{ form.email.id_for_label }}">Emailアドレス</label>
                {{ form.email }}
            </div>
            <div class="mb-3">
                <label class="form-label" for="{{ form.password1.id_for_label }}">パスワード</label>
                {{ form.password1 }}
            </div>
            <div class="mb-3">
                <label class="form-label" for="{{ form.password2.id_for_label }}">パスワード（確認用）</label>
                {{ form.password2 }}
            </div>
            <div class="my-4 d-flex justify-content-between">
                <a href="{% url 'login' %}">ログインへ</a>
                <button type="submit" class="btn btn-primary">登録</button>
            </div>
        </form>
    </div>
</div>

{% endblock content %}