{% extends "base.html" %}

{% block content %}

<div class="header page-title my-4">
    <h2>アンケート編集</h2>
</div>
<div class="login-form card p-3 mx-auto">
    <form action="" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label" for="{{ form.title.id_for_label }}">タイトル（必須）</label>
            {{ form.title }}
        </div>
        <div class="mb-3">
            <label class="form-label" for="{{ form.description.id_for_label }}">詳細（任意）</label>
            {{ form.description }}
        </div>
        <!-- 選択肢　別途JSでの実装が必要 -->
        <div class="mb-3 options">
            <label class="form-label" for="options">選択肢（２つ以上必須、最大４つまで）</label>
            {% if formset %}
            {{ formset.management_form }}
            {% for f in formset %}
            {{ f.as_p }}
            {% endfor %}
            {% endif %}
            <button type="button" class="btn btn-secondary">選択肢を追加</button>
        </div>
        <!-- 選択肢　別途JSでの実装が必要 ここまで-->
        <div class="mb-3">
            <label class="form-label" for="{{ form.end_at.id_for_label }}">投票期限日（任意）</label>
            {{ form.end_at}}
        </div>
        <!-- 投票受付の停止をチェックボックスで選択 -->
        <!-- 公開、一時保存をラジオボタンで選択 -->
        <div class="select-radio d-flex justify-content-around mb-5">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="is_public" id="is_public1" value="1">
                <label class="form-check-label" for="is_public1">
                    公開する
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="is_public" id="is_public2" value="0" checked>
                <label class="form-check-label" for="is_public2">
                    一時保存にする
                </label>
            </div>
        </div>
        <!-- 公開、一時保存をラジオボタンで選択　ここまで -->
        <div class="text-center">
            <button type="submit" class="btn btn-success px-5">変更！</button>
        </div>
    </form>
</div>
<div class="text-center my-5">
    <a href="{% url 'survey-detail' survey.pk %}">アンケート変更をキャンセルして戻る</a>
</div>
</div>
</div>

{% endblock content %}