{% extends "base.html" %}

{% block content %}

<div class="header page-title my-4">
    <h2>{{ survey.title }}</h2>
</div>
{% comment %} <div class="selcted-tags w-100 mx-auto py-2 row">
    {{ for tag in survey.tag_survey.all }}
    <div class="col-auto me-2 mb-2 bg-secondary-subtle rounded-5">{{ tag.tag_name }}</div>
    {{ endfor }}
</div> {% endcomment %}
<div class="row mb-2">
    {% if survey.start_at %}
    <span class="col-auto">投票開始:{{ survey.start_at }}</span> 
    {% else %}
    <span class="col-auto">投票開始: 不明</span> 
    {% endif %}

    {% if survey.end_at %}
    <span class="col-auto">投票期限: {{ survey.end_at }}まで</span>
    {% else %}
    <span class="col-auto">投票期限: 指定なし</span>
    {% endif %}
</div>
<div class="h5">
    <span class="col-auto">投票総数：{{vote_list.count}}票</span>
</div>
{% comment %} アンケート作成者本人の場合 {% endcomment %}
{% if survey.user == request.user %}
<div class="alert alert-primary" role="alert">
    <div class="d-flex justify-content-between">
        <div>
            あなたはアンケート作成者です！
        </div>
        <div class="d-flex justify-content-between gap-3">
            {% if survey.is_public %}
            <div>
                <a href="{% url 'survey-edit' survey.pk %}">編集</a>
            </div>
            {% else %}
            <div>
                <a href="{% url 'survey-temporary-edit' survey.pk %}">編集</a>
            </div>
            {% endif %}
            <div>
                <a href="{% url 'survey-delete' survey.pk %}">削除</a>
            </div>
        </div>
    </div>
</div>
{% endif %}

<div class="discription border border-secondary p-2 my-3">
    {% if survey.description %}
    <p>{{ survey.description }}</p>
    {% else %}
    <p>アンケートの詳細説明はありません</p>
    {% endif %}
</div>

{% comment %} ユーザーが投票済みか否か {% endcomment %}
<div>
    {% if vote and vote.pk %}
    <div class="alert alert-primary d-flex justify-content-start gap-4 align-items-center" role="alert">
        <div>
            あなたは投票済みです！
        </div>
        <div>
            <a href="{% url 'vote-detail' vote.pk %}">投票詳細へ</a>
        </div>
    </div>
    {% comment %} ↓未投票の場合は投票画面に遷移or作成者は自分のアンケートに投票しないため不要 {% endcomment %}
    {% comment %} {% else %}  
    <div class="alert alert-primary d-flex align-items-center" role="alert">
        あなたは投票していません
    </div> {% endcomment %}
    {% endif %}
</div>

{% comment %} 円グラフと凡例 {% endcomment %}
{% include "karakuchi_room/snippets/chart_and_legends.html" %}


{% comment %} 選択肢の票数を集計 JavaScriptが有効にならない時のために表示しておくとユーザーに優しいかも {% endcomment %}
<div>
    <table class="table table-bordered">
        <thead class="table-light">
            <tr>
                <th class="col-11">選択肢</th>
                <th class="col-1">票数</th>
            </tr>
        </thead>
        <tbody>
            {% for count in option_vote_counts %}
            <tr>
                <td>{{ count.label }}</td>
                <td>{{ count.vote_count }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="comment-list">
    <div>
        <h4 class="subheading">みんなのコメント</h4>
    </div>


    {% if comment_count %}
    <ul class="list-unstyled">
        {% for all_comment in vote_list %}
        {% if all_comment.comment %}
        <li class="mb-2">
            <div class="card p-3">
                {% comment %} <div class="row"> {% endcomment %}
                    {% comment %} 円グラフの凡例に色をあわせる {% endcomment %}
                    {% comment %} <div class="me-2 col-auto">
                        <span class="d-inline-block text-truncate" style="max-width: 250px;" data-bs-toggle="tooltip" 
                        data-bs-placement="top" data-bs-html="true" 
                        title="{{all_comment.option.label|escape}}">
                        ■
                        </span>
                    </div> {% endcomment %}
                    {% comment %} <div class="col"> {% endcomment %}
                        <div class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="{{all_comment.option.label|escape}}" data-bs-offset="-250,0">
                            選択肢：{{ all_comment.option.label|truncatechars:20}}
                        </div>
                        <div>
                            {{ all_comment.comment}}
                        </div>
                        <div class="text-muted">
                            投稿日時：{{ all_comment.created_at|date:"Y-m-d H:i" }}
                        </div>
                    {% comment %} </div> {% endcomment %}
                {% comment %} </div> {% endcomment %}
            </div>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
    {% else %}
    <p>コメントがありません</p>
    {% endif %}


</div>

{% endblock content %}