{% extends "base.html" %}

{% block content %}

<div class="header page-title my-4">
    <h2>アンケート編集</h2>
</div>
<div class="login-form card p-3 mx-auto">
    <form action="" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label" for="{{ form.title.id_for_label }}">タイトル（必須）</label>
            {{ form.title }}
        </div>
        <div class="mb-3">
            <label class="form-label" for="{{ form.description.id_for_label }}">詳細（任意）</label>
            {{ form.description }}
        </div>
        <!-- 選択肢　別途JSでの実装が必要 -->
        <div class="mb-3 options">
            <label class="form-label" for="options">選択肢（２つ以上必須、最大４つまで）</label>
            {% if formset %}
            {{ formset.management_form }}
            {% for f in formset %}
            {{ f.as_p }}
            {% endfor %}
            {% endif %}
        </div>
        <!-- 選択肢　別途JSでの実装が必要 ここまで-->
        <div class="mb-3">
            <label class="form-label" for="{{ form.end_at.id_for_label }}">投票期限日（任意）</label>
            {{ form.end_at}}
        </div>
        <!-- 投票受付の停止をチェックボックスで選択 -->
        <div class="my-3">
            <div class="form-check">
                {{ form.stop_vote }}
                {{ form.stop_vote.label_tag }}
            </div>
        </div>
        <!-- 投票受付の停止をチェックボックスで選択 ここまで-->
        <div class="text-center">
            <button type="submit" class="btn btn-success px-5">変更！</button>
        </div>
    </form>
</div>
<div class="text-center my-5">
    <a href="{% url 'survey-detail' survey.pk %}">アンケート変更をキャンセルして戻る</a>
</div>
</div>
</div>

{% endblock content %}