{% extends "base.html" %}

{% block content %}

<div class="header page-title my-4">
    <h2>アンケート編集</h2>
</div>
<div class="survey-form card p-3 mx-auto">
    <form action="" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label" for="{{ form.title.id_for_label }}">タイトル（必須）</label>
            {{ form.title }}
        </div>
        <div class="mb-3">
            <label class="form-label" for="{{ form.description.id_for_label }}">詳細（任意）</label>
            {{ form.description }}
        </div>
        {% comment %} 選択肢　別途JSでの実装が必要 {% endcomment %}
        
        <div class="mb-3 options">
            <label class="form-label" for="options">選択肢（２つ以上必須、最大４つまで）</label>
            
            {{ formset.management_form }}
            <div id="option-container">
                {% for option_name in formset.forms %}
                {# 隠しフィールドを先に出力 #}
                {% for hidden in option_name.hidden_fields %}
                {{ hidden }}
                {% endfor %}
                <div class="option-item mb-3 d-flex justify-content-center align-items-center" >
                    {{ option_name.label }}
                    {{ option_name.DELETE }}
                    <button type="button" class="btn btn-none remove-option">✕</button>
                </div>
                {% endfor %}
            </div>
            
            <button type="button" class="btn btn-secondary add-option">選択肢を追加</button>
        </div>
        {% comment %} しほ：ここからタグフォームを追加してます {% endcomment %}
                {{ form.tag_survey }}
                {% comment %} ここまで {% endcomment %}

        {% comment %} hidden 用のテンプレート空フォーム  {% endcomment %}
        <div id="empty-form-template" style="display: none;">
        {% for field in formset.empty_form.visible_fields %}
            {{ field }}  {# 空フォームもラベルなしで出す #}
        {% endfor %}
        </div>

        {% comment %} 選択肢　別途JSでの実装が必要 ここまで {% endcomment %}
        <div class="mb-3">
            <label class="form-label" for="{{ form.end_at.id_for_label }}">投票期限日（任意）</label>
            {{ form.end_at}}
        </div>
        {% comment %} 投票受付の停止をチェックボックスで選択 {% endcomment %}
        {% comment %} 公開、一時保存をラジオボタンで選択 {% endcomment %}
        <div class="select-radio d-flex justify-content-around mb-5">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="is_public" id="is_public1" value="1">
                <label class="form-check-label" for="is_public1">
                    公開する
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="is_public" id="is_public2" value="0" checked>
                <label class="form-check-label" for="is_public2">
                    一時保存にする
                </label>
            </div>
        </div>
        {% comment %} 公開、一時保存をラジオボタンで選択　ここまで {% endcomment %}
        <div class="text-center">
            <button type="submit" class="btn btn-success px-5">変更！</button>
        </div>
    </form>
</div>
<div class="text-center my-5">
    <a href="{% url 'survey-detail' survey.pk %}">アンケート変更をキャンセルして戻る</a>
</div>

{% endblock content %}