{% extends "base.html" %}

{% load my_filters %}

{% block content %}
<div class="header page-title my-4">
    <h2>アンケート詳細</h2>
</div>
<div class="header survey-title my-4 fw-bold">
    <h3>{{ survey.title }}</h3>
</div>
{% comment %} <div class="selcted-tags w-100 mx-auto py-2 row">
    {{ for tag in survey.tag_survey.all }}
    <div class="col-auto me-2 mb-2 bg-secondary-subtle rounded-5">{{ tag.tag_name }}</div>
    {{ endfor }}
</div> {% endcomment %}
<div class="row mb-2">
    {% if survey.start_at %}
    <span class="col-auto">投票開始:{{ survey.start_at }}</span> 
    {% else %}
    <span class="col-auto">投票開始: 不明</span> 
    {% endif %}

    {% if survey.end_at %}
    <span class="col-auto">投票期限: {{ survey.end_at }}まで</span>
    {% else %}
    <span class="col-auto">投票期限: 指定なし</span>
    {% endif %}
</div>
<div>
    <span class="col-auto">投票総数：{{vote_list.count}}票</span>
</div>
{% comment %} アンケート作成者本人の場合 {% endcomment %}
{% if survey.user == request.user %}
<div class="alert alert-primary" role="alert">
    <div class="d-flex justify-content-between">
        <div>
            あなたはアンケート作成者です！
        </div>
        <div class="d-flex justify-content-between gap-3">
            {% if survey.is_public %}
            <div>
                <a href="{% url 'survey-edit' survey.pk %}">編集</a>
            </div>
            {% else %}
            <div>
                <a href="{% url 'survey-temporary-edit' survey.pk %}">編集</a>
            </div>
            {% endif %}
            <div>
                <button type="button" class="nav-link py-0" 
                        data-bs-toggle="modal" 
                        data-bs-target="#deleteModal-{{ survey.pk }}">
                    削除
                </button>
            </div>
        </div>
        {% comment %} 削除確認モーダル {% endcomment %}
        {% with pk_str=survey.pk|stringformat:"s" %}
            {% with modal_id="deleteModal-"|add:pk_str %}
            {% url "survey-delete" survey.pk as survey_delete_url %}
            {% comment %} includeタグは改行すると読み込まれないため、可読性が下がっても一行で記述する。 {% endcomment %}
            {% include "karakuchi_room/snippets/delete-survey-confirmation-modal.html" with modal_id=modal_id survey_title=survey.title survey_description=survey.description options=option_vote_counts survey_end_at=survey.end_at delete_url=survey_delete_url %}
            {% endwith %}
        {% endwith %}
    </div>
</div>
{% endif %}

<div class="discription border border-secondary p-2 my-3">
    {% if survey.description %}
    <p>{{ survey.description }}</p>
    {% else %}
    <p>アンケートの詳細説明はありません</p>
    {% endif %}
</div>

{% comment %} ユーザーが投票済みか否か {% endcomment %}
<div>
    {% if vote and vote.pk %}
    <div class="alert alert-primary d-flex justify-content-start gap-4 align-items-center" role="alert">
        <div>
            あなたは投票済みです！
        </div>
        <div>
            <a href="{% url 'vote-detail' vote.pk %}">投票詳細へ</a>
        </div>
    </div>
    {% comment %} ↓未投票の場合は投票画面に遷移or作成者は自分のアンケートに投票しないため不要 {% endcomment %}
    {% comment %} {% else %}  
    <div class="alert alert-primary d-flex align-items-center" role="alert">
        あなたは投票していません
    </div> {% endcomment %}
    {% endif %}
</div>

{% comment %} JSON データを安全に埋め込む {% endcomment %}
{{ chart_labels|json_script:"chart-labels" }}
{{ chart_counts|json_script:"chart-counts" }}
{{ chart_colors|json_script:"chart-colors" }}

{% comment %} 円グラフと凡例 {% endcomment %}
{% include "karakuchi_room/snippets/chart_and_legends.html" %}


{% comment %} 選択肢の票数を集計 JavaScriptが有効にならない時のために表示しておくとユーザーに優しいかも {% endcomment %}
<div>
    <table class="table table-bordered">
        <thead class="table-light">
            <tr>
                <th class="col-10 col-md-11">選択肢</th>
                <th class="col-2 col-md-1">票数</th>
            </tr>
        </thead>
        <tbody>
            {% for count in option_vote_counts %}
            <tr>
                <td>{{ count.label }}</td>
                <td>{{ count.vote_count }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="comment-list my-4">
    <div>
        <h4 class="subheading">みんなのコメント</h4>
    </div>


    {% if vote_with_comment.count %}
    <ul class="list-unstyled">
        {% for comment in vote_with_comment %}
        <li class="mb-2">
            <div class="card p-3">
                <div class="row">
                    {% comment %} 円グラフの凡例に色をあわせる {% endcomment %}
                    {% with color=option_color_map|dict_get:comment.option.id %}
                    <div class="col-auto">
                        <span style="color: {{color}};">
                            ■
                        </span>
                    </div>
                    {% endwith %}
                        <div class="col">
                            <div class="text-muted" 
                            data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="{{comment.option.label|escape}}" data-bs-offset="-250,0">
                                選択肢：{{ comment.option.label|truncatechars:20}}
                            </div>
                            <div>
                                {{ comment.comment}}
                            </div>
                            <div class="text-muted">
                                投稿日時：{{ comment.created_at|date:"Y-m-d H:i" }}
                            </div>
                        </div>
                    </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>コメントがありません</p>
    {% endif %}


</div>

{% endblock content %}