<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body>
    <!-- ナビゲーションバー仮 -->
    <nav>
        <div class="container">
            <div class="d-flex justify-content-between align-items-center py-3">
                <div class="col">
                    <a href=""><img width="100" src="image/logo.png" alt="鷹の爪親方の辛口部屋のロゴ"></a>
                </div>
                <div class="col-auto">
                    <div class="d-flex align-items-center">
                        <a class="me-3" href="{% url 'survey-create'%}">アンケート作成</a>
                        <a class="me-3" href="{% url 'survey-list'%}">アンケート一覧
                        <a class=" me-3" href="">ユーザー情報</a>
                        <a class="btn btn-outline-primary" href="">ログアウト</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- ナビゲーションバー仮 -->
    </nav>
    <div class="container">
        {% comment %}
        <!-- 実装時、{% block content}{% endblock content %}外はbase.htmlから参照する -->
        {% endcomment %}
        {% block content %}
        <div class="header">
            <h2>{{ survey.title }}</h2>
        </div>
        <div class="selcted-tags w-100 mx-auto py-2 row">
            {% comment %}
            <!-- {{ for タグ表示 }} -->
            {% endcomment %}
            <div class="col-auto me-2 mb-2 bg-secondary-subtle rounded-5">{{ タグ }}</div>
            {% comment %}
            <!-- {{ endfor タグ表示 }} -->
            {% endcomment %}
        </div>
        <div class="row mb-2">
            <span class="col-auto">{{ survey.start_at }}</span>
            <span class="col-auto">{{ survey.end_at }}</span>
        </div>
        <!-- アンケート作成者本人の場合 -->
        <div class="d-flex justify-content-between">
            <!--
            <div>
                <span class="col-auto">23 votes</span>
            </div>
            -->
            <div>
                <a class="me-4">編集</a>
                <a href="{% url 'survey-delete' pk=survey.pk %}">削除</a>
            </div>
        </div>
        <!-- アンケート作成者で本人ではない場合 -->
        <!-- <div class="d-flex justify-content-end">
            <span class="col-auto">2026/1/20</span>
        </div> -->
        <div class="discription border border-secondary p-2 mt-3">
            <p>{{ survey.description }}</p>
        </div>
        <!-- 円グラフ chart.jsで実装する-->
        <div class="m-3 p-3">
            <p>（仮）ここにchart.jsで円グラフを表示</p>
            <canvas id="myChart"></canvas>
        </div>
        <div class="comment-list">
            <div>
                <h4>みんなのコメント</h4>
            </div>
            <ul class="list-unstyled">
                {% comment %}
                <!-- {{ for コメント表示 }} -->
                {% endcomment %}
                <li>
                    <div class="card p-3">
                        <div class="d-flex">
                            <!-- 円グラフの凡例に色をあわせる -->
                            <div class="text-primary me-2">
                                <span>■</span>
                            </div>
                            <div>
                                <p>操作中にエラーで落ちてしまいましたニャン♪😿公開前にチェックしておくべき事項だと思いますニャン♪</p>
                            </div>
                        </div>
                        <!-- 投票者本人の場合 -->
                        <div class="d-flex justify-content-between">
                            <div>
                                <a class="me-4">編集</a>
                                <a href="">削除</a>
                            </div>
                            <div>
                                <span class="col-auto">{{ survey.end_at }}</span>
                            </div>
                        </div>
                        <!-- 投票者で本人ではない場合 -->
                        <!-- <div class="d-flex justify-content-end">
                            <span class="col-auto">2026/1/20</span>
                        </div> -->
                    </div>
                </li>
                {% comment %}
                <!-- {{ endfor リスト表示}} -->
                {% endcomment %}  
            </ul>
        </div>
        <!-- {% endblock content %} -->
    </div>
    <footer class="text-center p-3">
        <span class="text-muted"> &copy; Team C 2025 Autumn</span>
    </footer>
</body>

</html>