{% extends "base.html" %}

{% block content %}

{% comment %} {{}}内は仮で付けています。バックエンド側の実装に合わせて適宜修正願います {% endcomment %}
<div class="header page-title my-4">
    <h2>ユーザー情報</h2>
</div>
<div class="users-form card p-3 mx-auto">
    <div class="user-detail mx-auto">
        <div class="mb-3">
            <label class="form-label">ユーザー名</label>
            <div>{{ user.user_name }}</div>
        </div>
        <div class="mb-3">
            <label class="form-label">Emailアドレス</label>
            <div>{{ user.email }}</div>
        </div>
        <div class="mb-3">
            <label class="form-label">パスワード</label>
            <div>非表示</div>
            
        </div>
        <div class="my-4 d-flex justify-content-between">
            {% comment %} href属性内の遷移先の作成をお願いします" {% endcomment %}
            <a href="{% url 'survey-list' %}">戻る</a>
            <a href="" class="btn btn-success">変更</a>
        </div>
    </div>
</div>
<div class="text-center my-5">
    {% comment %} href属性内の遷移先の作成をお願いします" {% endcomment %}
    <a href="">退会はこちら</a>
</div>

{% endblock content %}