    <!DOCTYPE html>
    <html lang="ja">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    </head>

    <body>
        {% comment %} ナビゲーションバー仮 {% endcomment %}
        <nav>
            <div class="container">
                <div class="d-flex justify-content-between align-items-center py-3">
                    <div class="col">
                        <a href=""><img width="100" src="image/logo.png" alt="鷹の爪親方の辛口部屋のロゴ"></a>
                    </div>
                    <div class="col-auto">
                        <div class="d-flex align-items-center">
                            <a class="me-3" href="{% url 'survey-create'%}">アンケート作成</a>
                            <a class="me-3" href="{% url 'survey-list'%}">アンケート一覧
                            <a class=" me-3" href="">ユーザー情報</a>
                            {% comment %} Django5から<a href="{% url 'logout' %}"> （GET）が禁止され<form method="post"> （POST）でログアウトできるようになっている {% endcomment %}
                            <form action="{% url 'logout' %}" method="POST">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-outline-primary">ログアウト</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% comment %} ナビゲーションバー仮 {% endcomment %}
        </nav>
        <div class="container">
            {% comment %} 実装時、{% block content}{% endblock content %}外はbase.htmlから参照する {% endcomment %}
            {% comment %} {% block content %} {% endcomment %}
            <div class="header">
                <h2>投票詳細</h2>
            </div>
            <div class="survey-title my-3">
                <h2>私のポートフォリオ、ぶっちゃけどうですか？ </h2>
            </div>
            <div class="deadline my-2">
                <span>投票期限：2025/1/29</span>
            </div>
            <div class="discription border border-secondary p-2 my-3">
                <p>ポートフォリオのurlです。********************製作期間は1か月であることが自慢です。</p>
            </div>
            <div class="h4 mt-5">
                <p>あなたはどう思う？</p>
            </div>
            {% comment %} 選択肢をradioボタンで選択 {% endcomment %}
            <div class="select-radio p-3">
                {% comment %} radioボタンをfor文で繰り返し表示 {% endcomment %}
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="option1" id="option1" value="1" disabled>
                    <span>
                        いいと思う！
                    </span>
                </div>
                {% comment %} radioボタンをfor文で繰り返し表示 ここまで {% endcomment %}
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="option2" id="option2" value="2" disabled>
                    <span>
                        改善の余地あり
                    </span>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="option3" id="option3" value="3" disabled>
                    <span>
                        その他
                    </span>
                </div>
            </div>
            {% comment %} 選択肢をradioボタンで選択 ここまで{% endcomment %}
            <div class="comment mt-5 mb-4">
                <p class="h4">選択肢を選んだ理由（任意）</p>
                <div class="discription border border-secondary p-2 mt-3">
                    <p>理由を入力</p>
                </div>
            </div>
            {% comment %} 追加機能 文章加工機能{% endcomment %}
            {% comment %} <div class="edit-button row mb-5">
                <button class="btn btn-secondary col-md m-3">甘口文章に変換</button>
                <button class="btn btn-secondary col-md m-3">文章の癖を減らす</button>
            </div> {% endcomment %}
            {% comment %} 追加機能 文章加工機能ここまで{% endcomment %}
            <div class="edit-btn text-center mb-5">
                <a href="" class="btn btn-success px-5">投票内容を変更！</a>
            </div>
            <div class="delete-btn text-center">
                <a href="" class="btn btn-danger px-5">投票内容を削除！</a>
            </div>
            <div class="text-center my-5">
                {% comment %} idが違う場合でも前画面に遷移させる方法 {% endcomment %}
                <a href="{% url 'survey-detail' vote.survey.pk %}">アンケート詳細に戻る</a>
            </div>
            {% comment %} {% endblock content %} {% endcomment %}
        </div>
        <footer class="text-center p-3">
            <span class="text-muted"> &copy; Team C 2025 Autumn</span>
        </footer>
    </body>

    </html>