{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="header page-title my-4">
    <h2>投票詳細</h2>
</div>
<div class="survey-title my-3">
    <h2>{{ survey.title }} </h2>
</div>
<div class="deadline my-2">
    <span>投票期限：{{ survey.end_at }}</span>
</div>
<div class="discription border border-secondary p-2 my-3">
    {% if survey.description %}
    <p>{{ survey.description }}</p>
    {% else %}
    <p>アンケートの詳細説明はありません</p>
    {% endif %}
</div>
<div class="subheading h4 mt-5">
    <p>あなたはどう思う？</p>
</div>
{% comment %} 選択肢をradioボタンをfor文で繰り返し表示 {% endcomment %}
<div class="select-radio p-3">
    <div class="m-3 p-3">
        {% for option in option_list %}
        <div class="form-check mb-2">
            <input class="form-check-input" type="radio" name="option" id="option_{{ option.id }}"
                value="{{ option.id }}" disabled 
                {% comment%} 選択済みの項目にチェックを付けて表示する {%endcomment %} 
                {% if option.id == vote.option_id %} checked {% endif %}>
            <label class="form-check-label" for="option_{{ option.id }}">
                {{ option.label }}
            </label>
        </div>
        {% endfor %}
    </div>
</div>
<div class="comment mt-5 mb-4">
    <label class="form-label" for="{{ form.comment.id_for_label }}">
        選択肢を選んだ理由（任意）
    </label>
    {{ form.comment }}
</div>
{% comment %} 追加機能 文章加工機能{% endcomment %}
{% comment %} <div class="edit-button row mb-5">
    <button class="btn btn-secondary col-md m-3">甘口文章に変換</button>
    <button class="btn btn-secondary col-md m-3">文章の癖を減らす</button>
</div> {% endcomment %}
{% comment %} 追加機能 文章加工機能ここまで{% endcomment %}
<div class="edit-btn text-center mb-5">
    <a href="{% url 'vote-edit' vote.pk %}" class="btn btn-success px-5">投票内容を変更！</a>
</div>
<div class="delete-btn text-center">
    <a href="{% url 'vote-delete' pk=vote.pk %}" class="btn btn-danger px-5">投票内容を削除！</a>
</div>
<div class="text-center my-5">
    {% comment %} idが違う場合でも前画面に遷移させる方法 {% endcomment %}
    <a href="{% url 'survey-detail' vote.survey.pk %}">アンケート詳細に戻る</a>
</div>

{% endblock content %}