/* //背景画像の表示切替// */

body {
  margin: 0;
  padding: 0;
  background-image: url("/static/img/background.png");
  background-position: top left;
  /* 横幅 < 768px用：横幅いっぱい、縦方向に繰り返し */
  background-repeat: repeat-y;
  background-size: 100% auto; 
}

@media (min-width: 768px) {
  body {
    /* 横幅が768px以上の時：縦横に繰り返し、画像が切れないように表示 */
    background-repeat: round;
    background-size: auto; 
  }
}

/* サイドバーの背景 */

.sidebar {
  margin: 0;
  padding: 0;
  background-image: url("/static/img/sidebar_oyakata.png"); 
  background-position: top left;
  background-size: cover; 
  color: white;
}

/* サイドバーの文字色 */

.sidebar a {
  text-decoration: none;
  color: white;
}

.sidebar button {
  color: white;
}

/* aタグの装飾をリセット */
a {
  text-decoration: none;
  color: #371606;
}

.nav-logout-btn, .survey-delete-btn{
  color: #371606;
}


/* //ハンバーガーメニューのデザイン// */
.mobile-menu-icon {
  background-color: transparent;
  border: none;
  outline: none !important;
  cursor: pointer;
  transition: opacity 0.7s ease;
}
.mobile-menu-icon:hover {
  opacity: 0.3;
}

.mobile-menu-icon > span {
  background-color: black;
  width: 35px;
  height: 2px;
  display: block;
  margin-bottom: 9px;
}

.mobile-menu-icon > span:last-child {
  margin-bottom: 0;
}

/* ページタイトルと小見出し */
.page-title, .subheading {
  color: #371606;
}

/* // フォームの最大幅を設定 // */
.main {
  max-width: 800px;
  width: 100%;
}

.login-form, .signup-form, .user-detail, .user-edit {
  max-width: 500px;
  width: 100%;
}

/* // 凡例のスタイルを整える // */
#legend-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;          /* 複数行に折り返す */
}

#legend-container li {
  display: flex;
  align-items: center;
  margin: 4px 8px;
  max-width: 100;         /* 凡例アイテムの最大幅を制限 */
}

#legend-container li span {
  white-space: normal;      /* テキストを折り返す */
  word-break: break-word;
  overflow-wrap: break-word;
}

#legend-container .box {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  margin-right: 6px;
  display: inline-block;
}

