/* //背景画像の表示切替// */

body {
  margin: 0;
  padding: 0;
  background-image: url("/static/img/background.png");
  background-position: top left;
  /* 横幅 < 768px用：横幅いっぱい、縦方向に繰り返し */
  background-repeat: repeat-y;
  background-size: 100% auto; 
}

@media (min-width: 768px) {
  body {
    /* 横幅が768px以上の時：縦横に繰り返し、画像が切れないように表示 */
    background-repeat: round;
    background-size: auto; 
  }
}

/* サイドバーの背景 */

.sidebar {
  margin: 0;
  padding: 0;
  background-image: url("/static/img/sidebar_oyakata.png"); 
  background-position: top left;
  background-size: cover; 
  color: white;
}

.sidebar a {
  text-decoration: none;
  color: white;
}

.sidebar button {
  color: white;
}



/* //ハンバーガーメニューのデザイン// */
.mobile-menu-icon {
  background-color: transparent;
  border: none;
  outline: none !important;
  cursor: pointer;
  transition: opacity 0.7s ease;
}
.mobile-menu-icon:hover {
  opacity: 0.3;
}

.mobile-menu-icon > span {
  background-color: black;
  width: 35px;
  height: 2px;
  display: block;
  margin-bottom: 9px;
}

.mobile-menu-icon > span:last-child {
  margin-bottom: 0;
}

/* ページタイトルの見出し */
.page-title {
  color: #371606;
}