<nav>
    <div class="col-auto">
        {% comment %} デスクトップ／タブレット用メニュー（md以上で表示） {% endcomment %}
        <div class="navbar-nav">
            <div class="d-none d-md-flex align-items-center">
                {% if user.is_authenticated %}
                <a class="me-3" href="{% url 'survey-create'%}">アンケート作成</a>
                <a class="me-3" href="{% url 'survey-list'%}">アンケート一覧
                    <a class=" me-3" href="">ユーザー情報</a>
                    <form action="{% url 'logout' %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-primary">ログアウト</button>
                    </form>
                    {% else %}
                    <a class="btn btn-primary me-3" href="{% url 'survey-list'%}">ログイン</a>
                    <a class="btn btn-outline-primary" href="{% url 'signup' %}">新規登録</a>
                    {% endif %}
            </div>
        </div>
        {% comment %} ハンバーガーボタン（モバイル用） {% endcomment %}
        <div class="hamberger-menu">
            <div class="d-md-none d-flex-column">
                <button class="mobile-menu-icon" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#staticBackdrop" aria-controls="staticBackdrop">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>
        </div>
    </div>
</nav>